.navbar .btn-outline-light:hover{
    color: var(--bs-dark);
}
.navbar .btn-outline-light{
    border: 1px solid #fff;
}
// .navbar {
//     background-color: transparent;
//     transition: background-color 0.3s ease-in-out;
// }
.navbar{
    transition: all 0.5s ease-in-out;
}
.navbr-sticky{
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// .navbar.scrolled {
//     background-color: rgba(0, 0, 0, 1); /* Keep it black or adjust */
// }
.header{
    background: url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
}
.modal-dialog{
    max-width: 1040px;
}
@media(max-width:1000px){
    .hero .image-container{
        display: flex;
        justify-content: center;
    }
    .hero .text-container{
        text-align: center;
    }
}

.download{
    background: url('../images/download-background.jpg') center center no-repeat;
    background-size: cover;
 }
//  .white-icon {
//     color: white;
//   }
  .map iframe{
    left: 0;
    top: 0;
    height: 400px;
    width: 100%;
    border: none;
  }